@model ErrorViewModel
@{
    ViewData["Title"] = Model.Header ?? $"Ошибка {Model.ErrorId}";
}
<div class="text-center">
    <h2 class="text-danger">Ошибка@(Model.ErrorId.HasValue ? " " + Model.ErrorId.Value.ToString() : "").</h2>
    @*<h2 class="text-danger">Произошла ошибка при выполнении вашего запроса.</h2>*@
    <h3 class="text-danger">@Model.Message</h3>
</div>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID запроса:</strong> <code>@Model.RequestId</code>
    </p>
}
