@{
    ViewData["Title"] = "Аккаунт временно заблокирован в целях безопасности";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Попробуйте снова через 5 минут.</p>
</header>
