/*removing rounded borders*/
/** {
    border-radius: 0 !important;
}*/

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

#nav-search {
    line-height: 1;
    height: calc(2rem + 2px);
}

/*asterisk on required fields*/
.required:after {
    content: "*";
    font-weight: bold;
    font-size: 125%;
    color: red;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    height: 9rem;
}

    /*цвет текста шапки , синий 007bff*/
    .jumbotron > div {
        color: #252839;
    }


#navbar {
    background-color: #252839 !important;
}

    #navbar a:hover, #logoutForm button:hover {
        background-color: #b5b5b7;
        color: black;
    }

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.fixed-top + div.main-body {
    padding-top: 2.8rem;
}

/* Responsive table ------start------ */

@media only screen and (max-width: 768px), (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    .responsive-table table, .responsive-table thead, .responsive-table tbody, .responsive-table th, .responsive-table td, .responsive-table tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        .responsive-table thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    .responsive-table tr {
        margin: 0 0 1rem 0;
    }

        .responsive-table tr:nth-child(odd) {
            background: #ccc;
        }

    .responsive-table td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
        min-height: 38px;
    }

        .responsive-table td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 0;
            left: 6px;
            width: 45%;
            padding: 8px;
            white-space: nowrap;
        }

        /*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
        .responsive-table td:nth-of-type(1):before {
            content: "Email";
        }

        .responsive-table td:nth-of-type(2):before {
            content: "Телефон";
        }

        .responsive-table td:nth-of-type(3):before {
            content: "Фамилия";
        }

        .responsive-table td:nth-of-type(4):before {
            content: "Имя";
        }

        .responsive-table td:nth-of-type(5):before {
            content: "Отчество";
        }

        .responsive-table td:nth-of-type(6):before {
            content: "Город";
        }

        .responsive-table td:nth-of-type(7):before {
            content: "Количество заказов";
        }

        .responsive-table td:nth-of-type(8):before {
            content: "Дата регистрации";
        }

        .responsive-table td:nth-of-type(9):before {
            content: "Последняя активность";
        }
}

/* Responsive table ------end------ */

/*Style pagination lists*/
/* generates at runtime by pagelink tag-helper*/
.users-pagination {
    padding: 1rem;
    margin: 0;
}

/* big checkboxes in admin view/edit pages*/
input.form-control.admin-edit[type="checkbox"] {
    width: 2.4em !important;
}

.admin-view > input[type="checkbox"] {
    width: 1.1em !important;
    height: 1.1em !important;
}

/* admin edit user*/

.admin-options .claims-label {
    font-weight: bold;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

/* admin edit item*/

.admin-img-box {
    margin: 0.3em;
    height: 25rem;
    width: 100%;
    display: inline-block;
    position: relative;
}

#admin-image-view {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.admin-img-thumb {
    cursor: pointer;
    max-width: 9rem;
    max-height: 8rem;
    margin: 0.2em;
}

    .admin-img-thumb:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }


/**CSS FOR THE RING**/

div#image-remove-button:active {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    transition: all 0s;
    -webkit-transition: all 0s;
}

div#image-primary-button:active {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    transition: all 0s;
    -webkit-transition: all 0s;
}

.fa-ring {
    width: 3rem;
    height: 3rem;
    border-radius: 50% !important;
    border: 1em solid white;
    color: white;
    display: inline-table;
    text-align: center;
}
    /**CSS FOR ICON WITH NO BACKGROUND COLOR**/

    .fa-ring .fa-bordered {
        font-size: 2em;
        vertical-align: middle;
        display: table-cell;
    }
/**WITH AN ADDED BACKGROUND COLOR**/

.fa-red {
    background: white;
    color: red;
    border: 0.1em solid black;
}

.fa-green {
    background: white;
    color: green;
    border: 0.1em solid black;
}

.fa-teal {
    background: teal;
    color: orange;
}

img.img-primary {
    outline: 0.4em double green;
}

img.img-delete {
    outline: 0.4em double red;
}
