/*removing rounded borders*/
* {
    border-radius: 0 !important;
}

body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*asterisk on required fields*/
.required:after {
    content: "*";
    font-weight: bold;
    font-size: 125%;
    color: red;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
    height: 160px;
    padding-top: 0px;
    padding-bottom: 0px;
}

    .jumbotron > div {
        color: #252839;
    }

#logoutForm button {
    margin-right: -15px;
    margin-top: 0;
    margin-bottom: 0;
    height: 50px;
    text-decoration: none;
}

/* Remove the navbar's default rounded borders */
#navbar {
    border-radius: 0;
    margin-bottom: 0;
    background-color: #252839;
}

    /* sticky navbar scrolling horizontal jump fix */
    #navbar > .container-fluid {
        padding-right: 0;
    }

    #navbar a:hover, #logoutForm button:hover {
        background-color: #b5b5b7;
        color: black;
    }

.navbar-fixed-top > .container-fluid {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

#navbar a.active {
    background-color: #4CAF50;
    color: white;
}

#navbar a:hover, #logoutForm button:hover {
    background-color: #b5b5b7;
    color: black;
}

.navbar-right {
    margin-right: 0;
}

.nav-pills > li > a {
    text-decoration: none;
    color: #252839;
}

.nav-pills > li.active > a {
    background-color: #b5b5b7;
    color: #252839;
}

    .nav-pills > li.active > a:hover {
        background-color: #252839;
    }

.nav-pills > li > a:hover {
    background-color: #252839;
    color: white;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.navbar-fixed-top + .main-body {
    padding-top: 55px;
}

.sidebar {
    border-right: 1px solid #ccc;
    padding: 15px;
}

.middle-content {
    padding: 15px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.row-wrapper {
    margin-left: 0;
    margin-right: 0;
}

.main-body {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

.footer hr {
    margin-top: 0px;
    border-top: 1px solid #ccc
}

.account {
    margin-bottom: 15px;
}
