/*removing rounded borders*/
* {
    border-radius: 0 !important;
}

body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*asterisk on required fields*/
.required:after {
    content: "*";
    font-weight: bold;
    font-size: 125%;
    color: red;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
    height: 160px;
    padding-top: 0px;
    padding-bottom: 0px;
}

    .jumbotron > div {
        color: #252839;
    }

#logoutButton {
    margin-right: -15px;
    margin-top: 0;
    margin-bottom: 0;
    height: 50px;
    text-decoration: none;
}

#loginButton {
    margin-right: -15px;
}

.navbar-fixed-top #logoutButton, .navbar-fixed-top #loginButton {
    margin-right: 0;
}



/* Remove the navbar's default rounded borders */
#navbar {
    border-radius: 0;
    margin-bottom: 0;
    background-color: #252839;
}

    /* sticky navbar scrolling horizontal jump fix */
    #navbar > .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    #navbar a:hover, #logoutForm button:hover {
        background-color: #b5b5b7;
        color: black;
    }

    #navbar a.active {
        background-color: #4CAF50;
        color: white;
    }

    #navbar a:hover, #logoutForm button:hover {
        background-color: #b5b5b7;
        color: black;
    }

.navbar-right {
    margin-right: 0;
}

.nav-pills > li > a {
    text-decoration: none;
    color: #252839;
}

.nav-pills > li.active > a {
    background-color: #b5b5b7;
    color: #252839;
}

    .nav-pills > li.active > a:hover {
        background-color: #252839;
    }

.nav-pills > li > a:hover {
    background-color: #252839;
    color: white;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.navbar-fixed-top + .main-body {
    padding-top: 55px;
}

.sidebar {
    border-right: 1px solid #ccc;
    padding: 15px;
}

.middle-content {
    padding: 15px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.row-wrapper {
    margin-left: 0;
    margin-right: 0;
}

.main-body {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

.footer hr {
    margin-top: 0px;
    border-top: 1px solid #ccc
}

.account {
    margin-bottom: 15px;
}

/* Responsive table ------start------ */

@media only screen and (max-width: 768px), (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    .responsive-table table, .responsive-table thead, .responsive-table tbody, .responsive-table th, .responsive-table td, .responsive-table tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        .responsive-table thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    .responsive-table tr {
        margin: 0 0 1rem 0;
    }

        .responsive-table tr:nth-child(odd) {
            background: #ccc;
        }

    .responsive-table td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
        min-height: 38px;
    }

        .responsive-table td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 0;
            left: 6px;
            width: 45%;
            padding: 8px;
            white-space: nowrap;
        }

        /*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
        .responsive-table td:nth-of-type(1):before {
            content: "Email";
        }

        .responsive-table td:nth-of-type(2):before {
            content: "Телефон";
        }

        .responsive-table td:nth-of-type(3):before {
            content: "Фамилия";
        }

        .responsive-table td:nth-of-type(4):before {
            content: "Имя";
        }

        .responsive-table td:nth-of-type(5):before {
            content: "Отчество";
        }

        .responsive-table td:nth-of-type(6):before {
            content: "Город";
        }

        .responsive-table td:nth-of-type(7):before {
            content: "Количество заказов";
        }

        .responsive-table td:nth-of-type(8):before {
            content: "Дата регистрации";
        }

        .responsive-table td:nth-of-type(9):before {
            content: "Последняя активность";
        }
}

/* Responsive table ------end------ */

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }
}

/*table > tbody > tr:hover {
    background-color: #cccccc
}*/

/*Style pagination lists*/
/* generates at runtime by pagelink tag-helper*/
.Users-pagination > li a {
    width: 43px;
    text-align: center;
}

    .Users-pagination > li a.dots {
        /*unselectable*/
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .Users-pagination > li a.dots:hover {
            background-color: white;
        }

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.admin-options label {
    font-weight: normal;
}

.admin-options .claims-label {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.admin-img-box {
    margin: 5px;
    height: 340px;
    width: 100%;
    display: inline-block;
    position: relative;
    /*border: 1px solid black;*/
}

#admin-image-view {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.admin-img-thumb {
    cursor: pointer;
    max-width: 140px;
    max-height: 120px;
    margin: 5px;
}

    .admin-img-thumb:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }

#file-upload-button {
    margin: 5px;
}

/**CSS FOR THE RING**/

#image-remove-button {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 1;
}

    #image-remove-button:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }

.glyphicon-ring {
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    border: 4px solid white;
    color: white;
    display: inline-table;
    text-align: center;
}
    /**CSS FOR ICON WITH NO BACKGROUND COLOR**/

    .glyphicon-ring .glyphicon-bordered {
        font-size: 20px;
        vertical-align: middle;
        display: table-cell;
    }
/**WITH AN ADDED BACKGROUND COLOR**/

.glyphicon-white {
    background: white;
    color: red;
    border: 2px solid black;
}

.glyphicon-teal {
    background: teal;
    color: orange;
}

.glyphicon-red {
    background: red;
}
