
@{
    ViewData["Title"] = "403 - Доступ запрещен";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">У вас нет необходимых прав для выполнения этой операции.</p>
</header>