@model RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
}
@addTagHelper *, Website.Web

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Создать новый аккаунт.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName"></label> <span class="text-muted small">(Необязательно)</span>
                <input asp-for="FirstName" class="form-control" validation-for="FirstName" validation-error-class="is-invalid" validation-valid-class="is-valid" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label> <span class="text-muted small">(Необязательно)</span>
                <input asp-for="LastName" class="form-control" validation-for="LastName" validation-error-class="is-invalid" validation-valid-class="is-valid" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatrName"></label> <span class="text-muted small">(Необязательно)</span>
                <input asp-for="PatrName" class="form-control" validation-for="PatrName" validation-error-class="is-invalid" validation-valid-class="is-valid"/>
                <span asp-validation-for="PatrName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="required"></label>
                <input asp-for="Email" class="form-control" validation-for="Email" validation-error-class="is-invalid" validation-valid-class="is-valid" required/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="required"></label>
                <input asp-for="Password" class="form-control" validation-for="Password" validation-error-class="is-invalid" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="required"></label>
                <input asp-for="ConfirmPassword" class="form-control" validation-for="ConfirmPassword" validation-error-class="is-invalid" required/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-secondary mt-2">Регистрация</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
