@using System.Diagnostics
@model List<System.Security.Claims.Claim>


@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h4>@Process.GetCurrentProcess().WorkingSet64.ToString("N0")</h4>
    <br />
    @foreach (var item in Model)
    {
        <div class="my-2">
            <div> @item.Type</div>
            <div>@item.Value</div>
        </div>
    }
</div>