@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row row-eq-height row-wrapper">

    <div class="sidebar col-md-2">
        @await Html.PartialAsync("_AdminNav")
    </div>
    <div id="admin-content" class="middle-content col-md-10">
        @RenderBody()
    </div>

</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/adminScripts.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/adminScripts.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
}
