@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row row-eq-height row-wrapper">

    <div class="sidebar col-md-2">
        @await Html.PartialAsync("_AdminNav")
    </div>
    <div class="middle-content col-md-10">
        @RenderBody()
    </div>

</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
    <script src="~/js/adminScripts.js" asp-append-version="true"></script>
}
