@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>

    <div class="sidebar">
        @await Html.PartialAsync("_AdminNav")
    </div>

    <div class="middle-content">
        @RenderBody()
    </div>

</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
