@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row m-0">
    <div class="col-md-2 border-right p-3">
        @await Html.PartialAsync("_AdminNav")
    </div>
    <div id="admin-content" class="col-md-10 p-3">
        @RenderBody()
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/adminScripts.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/adminScripts.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
}
