@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@section Css {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-select/bootstrap-select.css" />
        <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/css/bootstrap-select.min.css"
              integrity="sha256-q+3CS1i6GuPNz/JQk7dapdWXvii85xf7vecZx2QqsFI="
              crossorigin="anonymous" />
        <link rel="stylesheet" href="~/css/admin.min.css" asp-append-version="true" />
    </environment>
}

<div class="row m-0">
    <div class="col-md-2 border-right p-3">
        @await Html.PartialAsync("_AdminNav")
    </div>
    <div id="admin-content" class="col-md-10 p-3">
        @RenderBody()
    </div>
</div>

@section Scripts {
        <script src="~/dist/admin-bundle.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
}
