
@{
    ViewData["Title"] = "Удалить товар";
}
@model DeleteItemModel

<h3>Вы действительно хотите удалить этот товар?</h3>
<h4>@Model.Id</h4>
<h4>@Model.Name</h4>
<h5>Внимание: это действие необратимо, после удаление восстановить будет невозможно.</h5>